/* Phones */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    font-size: 14px;
  }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  nav ul {
    flex-direction: row;
    font-size: 16px;
  }
}

/* Desktops */
@media (min-width: 1025px) {
  nav ul {
    font-size: 20px;
  }
}



body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #1a1410;
  color: #f8f4f0;
  padding-top: 50px; /* prevents overlap with fixed nav */
}

/* Navigation bar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #231710; /* dark brown background */
  padding: 1rem 1rem;

  z-index: 100;
  display: flex;
  justify-content: 200em
  align-items: center;
}

/* Logo */
.navbar .logo {
  font-size: 2rem;
  font-weight: bold;
  color: #d4a373; /* golden accent */
  letter-spacing: 2em;
}

/* Menu */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 1em;

  padding: 1em;
}

.navbar ul li a {
  color: #f8f4f0;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #d4a373; /* hover accent */
}


/* Hero sections */


.hero-content {
   background: #36261e;
  border-radius: 4px;
  padding: 1.5em;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  animation: fadeInUp 0.75s ease;
}
.hero-content h1 {
  font-size: 2.5em;
  color: #4DF527;
.hero-content h2, h3 { color: #d4a373; }
}
.hero-content button {
  margin-top: 1em;
  background: #36261e;
  color: #d4a373;
  border: none;
  padding: 0.1em 0.4em;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
.product button:hover { background: black; }


/* Product Grid */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding: 1.1em;
}
.product {
  background: #36261e;
  border-radius: 4px;
  padding: 3em;
  width: 300px;
  text-align: center;
  animation: fadeInUp 0.75s ease;
}
.product img {
  width: 100%;
  max-width: 220px;
  height: 200px;
  object-fit: cover;
}
.product h3 { color: #d4a373; }
.product button {
  margin-top: 1em;
  background: #36261e;
  color: #d4a373;
  border: none;
  padding: 0.1em 0.4em;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
.product button:hover { background: #d4a373; }

/* Modal */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(30,20,16,.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  background: #231710;
  padding: 2em;
  border-radius: 12px;
  max-width: 350px;
  margin: auto;
  color: #f8f4f0;
  position: relative;
}
.close {
  position: absolute;
  top: 1em; right: 1em;
  font-size: 1.6em;
  color: #f8f4f0;
  cursor: pointer;
}

/* Footer */
footer {
  background: #2c2c2c;
  text-align: center;
  padding: 2em;
  color: #aaa;
}

/* Animations */
@keyframes fadeInUp {
  from { opacity:0; transform:translateY(30px); }
  to { opacity:1; transform:translateY(0); }
}
